<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Zendesk::Instance" value="esfa" />
    <add key="Zendesk::ApiUser" value="eapim.support@education.gov.uk@digital.education.gov.uk/token" />
    <add key="Zendesk::ApiKey" value="" />
  </appSettings>
</configuration>